/* Deps */
@import "//fonts.googleapis.com/icon?family=Material+Icons";


/** Colors **/
$orange: #FF964E;
$dark-orange: #8D4D00;
$light-gray: #7F7F7F;
$gray: #424242;
$teal: #64BEBE;
$teal-alt: #00B7FF;

/** Breakpoints **/
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/** Imports **/
@import 'fonts';
@import 'globals';
@import 'keyframes';
@import 'typography';
@import 'layout';
@import 'components';
@import 'helpers';
@import 'pages';