
<%- include('components/header'); %>

<div class="index-wrapper">
    <div class="container">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>
</div>

<%- include('components/footer'); %>
